*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}
body{
    padding: 50px;
    background-color: #75ABFF;
}
main{
    background-color: #82F5FF;
    width: 330px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.445);
    margin: auto;
}
main > div{
    margin-bottom: 10px;
}
input{
    border: 1px solid white;
    border-radius: 10px;
    width: 300px;
    height: 30px;
}
th, td{
    border: 1px solid black;
    padding: 5px;
}
button{
    width: 100px;
    border: 2px solid;
    border-radius: 10px;
}
button:hover{
    background-color: yellow;
}
.res{
    background-color: white;
    border-radius: 10px;
}
.res > p{
    padding: 10px;
}